<main>
  <h3>Hi, my name is Rosalie Chan. I am a journalism and computer science student at Northwestern University.</h3>
  <center><button>View My Work</button></center>
</main>

<footer>
  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABtElEQVRIS7WW/TEEQRDF30VABlwEyIAIEAEi4CJABGSACLgIEIG7CBABIqB+W9NXbXTPLlf6r63dnvf643XPjtS2dUm7krYl8bxZ3GeSXiQ9SJqW5xBplOADdirpsCcA+3wt6Twiigj2JF1JWh0Ibm7vko4k3flzNQERA76MQUJGnXkCIr9dBtmd3bdMjICaP/2hLFk8lGuLnhgBKR38Ivq5qzWZb0h6lbTmMG4QCQRE/1yBA3CZ9OOxyNYfQb5I+aLCGUNwEnwwEKIjuxV3cKfov04YAnro1TeBAFkxTN4YonF5wQGIUBiRZvKl7j4Qjk8hYCqpoTfqeebl1tMfSN8CnxkEn9GHooKhfac895FzRoDvt4HpYUIQxxlBVCJ8KRN1Z6G1jPKgwqg386zJBriYyAZDGr01OZKpx0OmE0mopLa+3dXJNBs0ACkfESLb2lAZK71l3aBh9aoAHGAuE0jM7AIia55btlgVOOEMUD0oPRjp548ylItlh+e/rmsLpa9pQzJKLxw7HC24IcCUhQCbV6ZvJioZekfQUPx/qC37q/BEZGS/LbYUuS/st4WIIxl3GF98TFw2dxh7nQAAAABJRU5ErkJggg=="/>
  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAByUlEQVRIS62VgTUDURBFXyqgA9IBFUgqQAWkAlSACkgFqEBSgaQCOhAVkAo4d8+fPWPM7soy5/yTtf6+N/Pe/PkDdceepANJu5J4Jl4krSQty3MjyqAF/1TSZQFuSwOiK0kP2aaMgEzvJI26i/u2YyFpUiqr/xEJkOBJ0vaG4Lb9Q9LYy+YJ/gqekhgBGT87veeS7iUdSTrpqAbtZ5Lw7NA1wT7PRoBJGGpxIem2/EFlLMxkEfjEoptYxLmkG4dxjfkQkP1r0N0T/NaOSIAfQwgoja7x8R8E4E0gQD/TjpdvRRIy2CRQArl23EdzCNDVv6y02wTZ7Y1eriD4DGAcFjqoT/yQOyPoo78lEyuo2jRWMC0t16cCWvvMfbiGgBnCtLTAk2Ef9MTPJQSRFew+MsVzAM4UAqYmAy4GetJRXUF7IkvWeWMbFSYTm7hEOBtbkjgLPDOb+PVBxyAt8yqbvuCMjMBXgTwcGF/VcUIA8GNLeYzthR/X5kU1Q8pphhjTs3NB1u8NBHUnxgvHpOLXKmnzILY4e5GT6qrIrkyyjXdA090dCbgb8KaOpg/ZhGQY3ZQI741gXYBjI6QVGDsaU6qtTCoAWY2z6wsxXGWWjqmNhAAAAABJRU5ErkJggg=="/>
  <br>
  <p>&copy; Rosalie Chan</p>